body {
    background-color: rgb(2, 2, 2);
    margin: 200px;
    padding: auto;
    font-family: Arial;
    text-align: center;
}

nav {
    color: white;
}

footer {
    border-bottom: 2px solid white;
    color: white;
}

input {
    color: rgb(135, 135, 135);
}